@using ChronoFlow.Client.Common.Notifications

@inherits LayoutComponentBase

<LocalNotificationRenderer />

<header class="navbar">
    <section>
        <Logo Url="/" />
    </section>

    <Clock />

    <section>
        <NavButton Href="main-data">
            @Localizer["MainData"]
        </NavButton>

        <UserControl />
    </section>
</header>

<main class="content">
    @Body
</main>
