@using ChronoFlow.Client.Common.Notifications

@inherits LayoutComponentBase

<LocalNotificationRenderer />

<header>
    <section>
        <Logo Url="/" />
    </section>

    <Clock />

    <section>
        <UserControl />
    </section>
</header>

<main>
    @Body
</main>
