<button class="c-check-box" @onclick="@ValueChangedAsync">
    <div>
        @if (Value)
        {
            <div></div>
        }
    </div>

    @if (Label != null)
    {
        <section>
            @Label
        </section>
    }
</button>
