.c-textbox {
    min-height: 35px;
    max-height: 35px;
    border: 0;
    border-radius: var(--container-radius-regular);
    font-family: var(--font-family-regular);
    font-size: 12pt;
    font-weight: 400;
    background: var(--color-primary-10);
    color: var(--color-primary-100);

    &:hover {
        background: var(--color-primary-20);
    }

    &:focus {
        outline: 2px solid var(--color-primary-100);
    }

    &:disabled {
        background: none !important;
        color: var(--color-primary-20) !important;
    }

    &::placeholder {
        color: var(--color-primary-40);
    }

    &.invalid {
        outline: 2px solid var(--color-accent-100);
    }
}