@inherits LayoutComponentBase

<header class="l-navbar">
    <section>

    </section>

    <Clock />

    <section>
        <NavButton Href="main-data" IconLeft="list">
            Main Data
        </NavButton>
    </section>
</header>

<main class="l-content">
    @Body
</main>

<footer class="l-footer">
    Test
</footer>
