html {
    --color-primary-10: #e7e3c6;
    --color-primary-15: #e0dabe;
    --color-primary-20: #d8d2b6;
    --color-primary-30: #c9c0a6;
    --color-primary-40: #baaf96;
    --color-primary-50: #ab9e86;
    --color-primary-60: #998872;
    --color-primary-70: #8e7c66;
    --color-primary-80: #7f6a56;
    --color-primary-90: #705946;
    --color-primary-100: #614836;
    --color-accent-100: #FF6D04;
    --color-background: #F6F4D6;
    --color-semantic-danger-80: #fd6660;
    --color-semantic-danger-90: #fe5451;
    --color-semantic-danger-100: #FF4242;
    --container-outline: 2px solid var(--color-primary-20);
    --container-radius-small: 6px;
    --container-radius-regular: 12px;
    --container-radius-large: 25px;
    --container-radius-xlarge: 50px;
    --font-family-regular: "Inter";
    --shadow-notification: 0px 0px 40px 0px rgba(0,0,0,0.3);
}
